[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pydantic = "*"
pygcf = {git = "https://github.com/global-container-format/pygcf"}

[dev-packages]
sphinx = "*"
isort = "*"
black = "*"
pylint = "*"
build = "*"
mypy = "*"
pytest = "*"
pytest-coverage = "*"
toml = "*"
pydantic = "*"

[requires]
python_version = "3"
